
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides&family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides&family=Ubuntu&family=Varela+Round&display=swap');



body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu',sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
align-items: center;
    background-color: black;
    color: white;
}
nav ul li {
padding: 0 10px;
}
.brand img{
    width: 44px;
padding: 7px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight:bolder ;
    font-size: 1.3rem;
}
.container{
    min-height: 60vh;
    background-color:black;
    font-style: italic;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 10px;
    padding: 34px;
    background-image: url('bg.jpg');
    
}
.bottom{
    position:sticky;
    height: 113px;
    background-color: black;
    
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.icons{
    margin-top: 14px;
    font-size: 30px;
}
.icons i{
    cursor: pointer;
    
}
#myprogressbar{
    width: 80vw;
   cursor: pointer; 
}
.songitemcontainer{
    margin-top: 70px;
}
.songitem{
height: 40px;
display: flex;
background-color: rgb(161, 105, 194);
width: 50%;
margin: 12px 0;
border-radius: 30px;
}

.songitem img{
width: 70px;
margin: 0 20px 0;
border-radius: 30px;

}
.timestamp i{
   
    cursor: pointer;
}
.songinfo{
position: absolute;
left: 10px;
}

.songinfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in;
}